layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="myml-wt1" cwd="~/truehome/repos/myml/wt1"
  tab name="myml-wt2" cwd="~/truehome/repos/myml/wt2"
  tab name="myml-main" cwd="~/truehome/repos/myml/main"
}
